<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Left SiderBar</title>
</head>
<body>
	<div th:fragment="sider-bar">
		<div class="col-md-3 left_col">
			<div class="left_col scroll-view">
				<div class="navbar nav_title" style="border: 0;">
					<a href="/" class="site_title"><i class="fa fa-paw"></i> <span>UserManager
							!!!</span></a>
				</div>

				<div class="clearfix"></div>

				<!-- menu profile quick info -->
				<div class="profile clearfix">
					<div class="profile_pic">
						<img src="/images/user.png" alt="..."
							class="img-circle profile_img">
					</div>
					<div class="profile_info">
						<span>Welcome,</span>
						<h2 class="username-wel"></h2>
					</div>
				</div>
				<!-- /menu profile quick info -->

				<br />

				<!-- sidebar menu -->
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
					<div class="menu_section">
						<h3>General</h3>
						<ul class="nav side-menu">
							<li><a href="/"><i class="fa fa-home"></i> Home <span
									class="fa fa-chevron-down"></span></a></li>
							<li><a href="/admin/users"><i class="fa fa-edit"></i>
									User Manage <span class="fa fa-chevron-down"></span></a></li>
							<li><a href="/admin/groups"><i class="fa fa-desktop"></i>
									Group Manage <span class="fa fa-chevron-down"></span></a></li>
							<li><a><i class="fa fa-table"></i> Role Manage <span
									class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li><a href="/admin/roles/sys">Role System</a></li>
									<li><a href="/admin/roles/group">Role Group</a></li>
								</ul></li>
						</ul>
					</div>
					<div class="menu_section"></div>

				</div>
				<!-- /sidebar menu -->

				<!-- /menu footer buttons -->
				<div class="sidebar-footer hidden-small">
					<a data-toggle="tooltip" data-placement="top" title="Settings">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
						<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
					</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
						class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
					</a> <a data-toggle="tooltip" data-placement="top" title="Logout"
						href="login.html"> <span class="glyphicon glyphicon-off"
						aria-hidden="true"></span>
					</a>
				</div>
				<!-- /menu footer buttons -->
			</div>
		</div>
		<div class="top_nav">
			<div class="nav_menu">
				<nav>
					<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars"></i></a>
					</div>

					<ul class="nav navbar-nav navbar-right">
						<li class=""><a href="javascript:;"
							class="user-profile dropdown-toggle" data-toggle="dropdown"
							aria-expanded="false"> <img src="/images/user.png" alt=""><span class="username-wel"></span><span class=" fa fa-angle-down"></span>
						</a>
							<ul class="dropdown-menu dropdown-usermenu pull-right">
								<li><a href="/"> Profile</a></li>
								<li><a href="/logout"><i
										class="fa fa-sign-out pull-right"></i> Log Out</a></li>
							</ul></li>

						<li role="presentation" class="dropdown"><a
							href="javascript:;" class="dropdown-toggle info-number"
							data-toggle="dropdown" aria-expanded="false"> <i
								class="fa fa-envelope-o"></i> <span class="badge bg-green"></span>
						</a>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$.each($('.username-wel'),function(i,tag){
			tag.text(localStorage.getItem("username"));
		}
	</script>
</body>
</html>