<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/change-password}" th:object="${changePasswordDTO}"
		method="POST">
		<input type="hidden" th:field="*{email}" th:value="*{email}">
		<input type="hidden" th:field="*{token}" th:value="*{token}">
		
		<label>Password:</label> <input
			type="text" th:field="*{password}" th:value="*{password}">
		<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
			th:class="errors"></div> <br>
		<label>Conform Password:</label> 
		<input type="text" th:field="*{matchingPassword}" th:value="*{matchingPassword}"> 
		<input type="submit" value="SEND">

	</form>
<div th:utext="${msg}"></div>

</body>
</html>